/* ============== SECTION3 ============ */
#section3 {
    background-image:url("./images/headphones_hero_2.jpg");
    background-attachment:scroll;
    background-position:top;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0px;
}
#section3 div h2 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 50px;
}
#section3 div h2+p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin-bottom: 70px;
}
/* ============== END SECTION3 ============ */
.pentagon-container {
    text-align: center;
    margin-left: 700px;
    margin-top: 200px;
  position: relative;
  width: 500px;
  height: 500px;
}
.pentagon-container::before,
.pentagon-container::after {
  content: '6. Replace background image with... code!';
  position: absolute;
  border-style:solid;
  border-width: 50px 20px;
  border-color: transparent transparent #ffffff transparent;
  top: 0;
  left: 50%;
  transform: translateX(-150%);
}
.pentagon-container::before {
  transform: translateX(-100%) rotate(-100deg);
}
.pentagon-container::after {
  transform: translateX(-150%) rotate(-100deg);
}