@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Serif:ital,wght@1,600&family=Inconsolata:wght@300;400&family=PT+Sans:wght@400;700&family=Poppins:wght@400;500&family=Rowdies&family=Titillium+Web:wght@400;900&display=swap');

body {
    margin: 0;
    display:flex;
    flex-direction:column;   
}

body header{
    background-color: #cf7b7ba1;
    margin: 0px;
    padding: 0px;
    height: 65px;
}
 header ul {
    padding-top: 5px;
    padding-bottom: 15px;
    margin: 0px;
}
.Logo a {
    padding: 12px;
    font-size: 30px;
    padding-right:12%;
}
.Logo a #symbol {
    font-size: 32px;
    color: #c9009dbd;
}
.Logo a .f-logo {
    color: #8671ff;
    font-size: 45px;
}
header ul li a {
    color: white;
    font-family: 'Poppins';
    font-size: 18px;
}
main {
    display:flex;
    flex-direction:row;
    flex:auto;
}
main article {
	flex:2;
    overflow-y: auto;
}
main aside {
	flex:1;
    overflow-y: auto;
}
main article h1, h2, h3 {
    font-family: 'Poppins';
}

main article h1 {
    text-align: center;
}
main article h2, h3 {
    color: #4B4453;
}
main article a img {
    padding: 0;
    margin: 0;
}
table {
    border-collapse: collapse;
    width: 100%;
    min-height: 100px;
    text-align: center;
}
th, td {
    border: 1px solid grey;
    padding: 4px;
    text-align: left;
}
tr th {
    font-size: larger;
    color: white;
    background-color: #303030;
}
footer {
    margin: 0;
    padding: 0;
    background-color: #cf7b7ba1;
}
footer p {
    color: aliceblue;
    padding-top: 26px;
}
footer a {
    color: aliceblue;
}